svg.svg-definitions(
  xmlns='http://www.w3.org/2000/svg'
  xmlns:xlink='http://www.w3.org/1999/xlink'
)
  //- Archive Box
  +symbol('icon-archive')
    path(d=shapes.icon.archive.d)

  //- Arrow Vertice Center
  +symbol('icon-arrow-center')
    path(d=shapes.icon.arrow.center.d)

  //- Arrow Vertice Left
  +symbol('icon-arrow-left')
    path(d=shapes.icon.arrow.left.d)

  //- Arrow Vertice Right
  +symbol('icon-arrow-right')
    path(d=shapes.icon.arrow.right.d)

  //- Checkmark
  +symbol('icon-check', '0 0 160 100')
    path(d=shapes.icon.check.d)

  //- Icon Gear Large
  +symbol('icon-gear-large')
    path(d=shapes.icon.gear.large.d)

  //- Icon Gear Small
  +symbol('icon-gear-small')
    path(d=shapes.icon.gear.small.d)
